# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Ambiente virtual
venv/
env/
.venv/
.env/

# Jupyter notebooks
.ipynb_checkpoints/

# Config
*.log
*.sql
*.sqlite
*.sqlite3

# OS 
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python pacotes
.Python
build/
dist/
*.egg-info/

# pytest
*.coveragerc
*.hypothesis/

# Arquivos temp
*.swp
*.swo
*.bak
